################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/RSPLS_Backend/Application/obj
/RSPLS_Backend/Core/bin
/RSPLS_Backend/Core/obj
/RSPLS_Backend/Application/bin
/RSPLS_Backend/.vs/
/RSPLS_Backend/Application.Tests/bin
/RSPLS_Backend/Application.Tests/obj
/rpsls_client/package-lock.json
