.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.logo img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.break {
  opacity: 0.6;
  border-width: 0px 0px 1px;
  border-image: initial;
  border-style: solid;
  width: 100%;
  border-color: #f9b331;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}