.header {
    line-height: 1.2;
    text-align: center;
}

.secondary {
    font-size: 100%;
    color: #718096;
}

.primary {
    font-size: 105%;
    color: rgba(255, 255, 255, 0.92);
}

.break {
    opacity: 0.6;
    border-width: 0px 0px 1px;
    border-image: initial;
    border-style: solid;
    width: 50%;
    border-color: #f9b331;
    margin-bottom: 1em !important;
    margin-top: 1em !important;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}